*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}
.content{
    /*background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: 0 70%;*/
    height: 100%;
    display: grid;
    grid-template-rows: 80px 1fr 40px;
}
.header{
    background-color: #1e1b4b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #c59d5f;
}
ul{
    /*padding: 0px 30%;*/
    list-style: none;
    display: flex;
    color: white;
    text-transform: uppercase;
    gap: 60px;
}
li{
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}
li:hover{
    border-bottom-color: #c59d5f;
    cursor: pointer;
}
.main-body{
    background-image: url("../images/background.jpg");
    background-color: transparent;
    background-position: 0px -160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cursive{
    font-family: "Herr Von Muellerhoff", cursive;
    font-size: 96px;
    text-align: center;
    color: #c59d5f;
}
#title{
    position: relative;
    top: 68px;
}
.menu-title #title{
    z-index: -1;
}
h1{
    color: white;
    text-align: center;
    font-size: 74px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
}
.menu-title h1{
    color: black;
}
.msg{
    color: white;
    font-size: 20px;
}
hr{
    margin: 10px;
    width: 200px;
    border: 2px solid #c59d5f;
}
button{
    margin-bottom: 15%;
    width: 150px;
    height: 40px;
    appearance: none;
    background-color: #c59d5f;
    border: 0px;
    font-size: 18px;
}
button:hover{
    color: white;
}
.dish-title{
    color:#c59d5f;
    font-size: 40px;
}
.menu-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#menu-wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.menu-card{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer{
    background-color: #1e1b4b;
    border-top: 2px solid #c59d5f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;
}